PROJECT_PYTHON_VERSION=3.10

if [[ ! -d .venv ]]; then
    >&2 echo "Creating virtual environment..."

    if type asdf 1>/dev/null 2>&1; then
        available_version=$(asdf list python | grep "$PROJECT_PYTHON_VERSION" | head -n+1 | sed 's/\*//' | sed 's/[[:space:]]//g')
        if [ -z "$available_version" ]; then
            >&2 echo "Python version $PROJECT_PYTHON_VERSION is not installed. Please install it with asdf."
            exit 1
        fi
        python_home=$(asdf where python "${available_version}")
        if [[ ! -d "${python_home}" ]]; then
            >&2 echo "Python version $PROJECT_PYTHON_VERSION is not installed. Please install it with asdf."
            exit 1
        fi
        >&2 echo "Using Python version $available_version with home at $python_home"
        virtualenv .venv --python "${python_home}/bin/python"
    else
        if python3 --version | grep "${PROJECT_PYTHON_VERSION}"; then
            echo "Using system Python version $(python3 --version)"
            virtualenv .venv
        else
            >&2 echo "Python version $PROJECT_PYTHON_VERSION is not installed. Please install it with asdf."
            exit 1
        fi
    fi
fi

source .venv/bin/activate
